/* HomeColumns.css */
.home-container {
  display: flex;
  justify-content: space-between;
}

.scroll-container{
  width: 50vw;
}

.home-column1,
.home-column3,
.home-column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-column2 {
  flex: 2; /* Take up 50% of the view */
  margin-top: 30%;
}

.home-left-buttons,
.home-right-buttons {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-column1.mirrored,
.home-column3.mirrored {
  transform: scaleX(-1);
}
